@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --logo-font: 'Monoton', cursive;
    --shadow-color:  rgb(220, 228, 148);
}

h1.jumbotron {
    font-family: var(--logo-font);
    background-color: #f2d657;
    color: black;
    text-shadow: 4px 4px var(--shadow-color);
}

body {
    color: #f2d657;
    background-color:black;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    
}

button{
  border: none;
  background-color: #f2d657;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  height:50px;
  margin-left: 20px;
  margin-top: 5px;
}


input{
    border: none;
    background-color: #f2d657;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height:40px;
}

a {
    color: #f2d657;
}

footer.jumbotron {
    text-align: center;
    font-size: 20px;
    background-color: #f2d657;
    color: black;
}