@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --logo-font: 'Monoton', cursive;
}

h1.jumbotron {
    font-family: var(--logo-font);
    background-color: #f2d657;
    color: black;
}

body {
    color: white;
    background-color:black;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

button {
    color: black;
    font-weight: 200;
    height: 75px;
    margin: 0 0 0 20px;
    border-radius: 50px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

input {
    text-align: center;
    padding: 10px;
    margin: 10px 10px 0 0;
}

a {
    color: white;
}